.wrapper_favorite {
  max-width: 1200px;
}

.favorite-item-list__items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.favorite {
  width: inherit;
  text-align: center;
  min-height: 1850px;
  position: relative;
}

.product-catalogue__pagination {
  width: unset;
  margin: 6px auto 71px;
}

.favorite__item-list {
  max-width: 1200px;
  width: unset;
  margin-left: 0;
  outline: none;
  border-top: none;
}

.favorite__head {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: unset;
  padding-left: 38px;
  margin-top: 16px;
  margin-bottom: 17px;
  padding-bottom: 13px;
  border-bottom: 1px solid #f4f4f4;
}

.favorite-head__title {
  width: unset;
}

.favorite-head-title__text {
  padding-left: 0;
}

.favorite-head-title__amount {
  padding-left: 17px;
}

.favorite-head-title__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  display: inline-block;
}

.favorite-head-title__amount {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  padding-left: 9px;
  color: #333333
}
