/*Блок с размерами*/
.size {
  position: relative;
  top: 19px;
  left: 188px;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  width: 200px;
  padding: 0 0 0 16px;
}

.main-screen__product-info .sizes {
  position: relative;
  top: 19px;
  left: 75px;
  display: inline-block;
  width: 249px;
}

.sizes li {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  padding: 3px;
  font-size: 14px;
  font-weight: 900;
  color: #333333;  
  list-style: none;
  margin-right: 3px;
  cursor: pointer;
}

.sizes li.active {
  background: #A1B3BF;
  border-radius: 50%;
}

.size-wrapper {
  position: relative;
  top: 25px;
  display: inline-block;
  width: 449px;
  padding: 0 0 0 205px;
}

.size-rule {
  display: inline-block;
  width: 22px;
  height: 14px;
  vertical-align: middle;
  background: url(../../../img/product-card-pics/product-card__size-ruler.png) no-repeat;
}

.size-table {
  display: inline-block;
  padding-left: 5px;
  text-align: right;
  vertical-align: middle;
  cursor: pointer;
}

.main-screen__product-info .basket-item__quantity {
  top: 50px;
}