/* Cайдбар */
/*Сепаратор между частями*/
.separator-150 {
  position: relative;
  width: 150px;
  height: 1px;
  margin: 0 auto;
  background: #F4F5F2;
}

.separator-240 {
  position: relative;
  top: 16px;
  width: 240px;
  height: 1px;
  margin: 0 auto;
  background: #F4F5F2;
}

.sidebar {
  width: 285px;
  height: auto;
  margin-left: 0px;
  vertical-align: top;
  float: left;
  border-radius: 15px;
  box-shadow: 3px 3px 15px #D4E4E6;
}

.sidebar-division-wrap-title__text,
.sidebar-division-wrap__brand-title-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  padding: 20px;  
}

.sidebar__division {
  margin: 0;
  padding-bottom: 30px;
}

.sidebar-division-wrap__title {
  position: relative;
  margin: 0;
}

/*Списки в сайдбаре*/
.sidebar-division-wrap__content {
  width: 240px;
  margin: -3px auto;
  display: flex;
  border-radius: 10px;
  background: #F4F4F4;
  padding-bottom: 12px;
}

.sidebar-division-wrap-content__item,
.sidebar-division-wrap-content-list__item {
  padding-left: 25px;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

/*Стрелочка напротив заголовка отдельной секции сайдбара*/
.sidebar-division-wrap-title__control {
  position: absolute;
  top: 14px;
  right: 16px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../../../img/catalogue-pics/product-catalogue-sprite-min.png);  
  cursor: pointer;
}

.sidebar-division-wrap-title__control_opener-up {
  background-position: -55px -155px;
}

.sidebar-division-wrap-title__control_opener-down {
  background-position: -16px -155px;
}

.sidebar-division-wrap__content_hide,
.sidebar-division-wrap__price-slider_hide {
  display: none;
}

.sidebar-division-wrap__content_show,
.sidebar-division-wrap__price-slider_show {
  display: inherit;
}

/*Разделы сайдбара*/
/*Каталог в сайдбаре*/
.sidebar-division__wrap_catalogue-list .sidebar-division-wrap__content {
  height: 206px;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: auto;
}

.sidebar-division__wrap_catalogue-list .sidebar-division-wrap-content__item {
  padding-top: 12px;
}

.sidebar-division-wrap-content-item__text:hover,
.sidebar-division-wrap__text:hover,
.sidebar-division__discount:hover {
  color: #FF8076;
  transition: color 300ms ease; 
  cursor: pointer;  
}

/*Цена*/
/*Ползунок с ценой*/
.sidebar-division-wrap__price-slider {
  width: 240px;
  height: 94px;
  margin: 0 auto;
}

.sidebar-division-wrap-price-slider__circle-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.sidebar-division-wrap-price-slider__counter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#minCost,
#maxCost {
  width: 100px;
  height: 37px;
  padding: 0 12px;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #333333;
}

.sidebar-division-wrap-price-slider-counter__input-separator {
  position: relative;
  top: 18px;
  width: 25px;
  height: 1px;
  background: #D4D4D4;
}

#slider-range {
  width: 245px;
  margin: 0 20px 0 20px  ;
}

/*Контейнер слайдера*/
.ui-slider {
	position: relative;
}

/*Ползунок*/
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 20px;   
	height: 20px;  
  background-color: orange;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
  overflow: hidden;  
}

/*Горизонтальный слайдер (полоса по которой бегает ползунок)*/
.ui-slider-horizontal {
   height: 3px; 
   cursor: pointer;
}

/*Позиционирование ползунков*/
.ui-slider-horizontal .ui-slider-handle { 
	top: -10px;
	margin-left: -6px;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

/*Оформление полосы по которой ходит ползунок*/
.ui-widget-content { 
	border: 1px solid #D4D4D4;
	background: #fff;
}

/*Оформление активного участка (между двумя ползунками)*/
.ui-widget-header { 
	border: 1px solid #D4D4D4;
	background: #f00;
}

/*Скругление для полосы слайдера*/
.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/*Цвет*/
.sidebar-division__wrap_color .sidebar-division-wrap__content {
  height: 140px;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: auto;
}

.sidebar-division__wrap_color .sidebar-division-wrap-content__item {
  padding-top: 8px;
}

.sidebar-division-wrap-content-item__color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
}

.sidebar-division-wrap-content-item__color-name {
  display: inline-block;
  padding-left: 10px;
  vertical-align: bottom;
}

.beige {
  background: #fbb034;
}

.whitesnake {
  background: #FFFFFF;
}

.shocking-blue {
  background: #00a4e4;
}

.yellow {
  background: #ffdd00;
}

.king-crimson {
  background: #ff0000;
}

.deep-purple {
  background: #511378;
}

.black-sabbath {
  background: #000000;
}

/*Размер*/
.sidebar-division__wrap_size .sidebar-division-wrap__content {
  height: 130px;
  overflow: auto;
}

/*Кастомизация чекбокса*/
.sidebar-division-wrap-content-list-item__checkbox {
  display: none;
}

.sidebar-division-wrap-content-list-item__checkbox-custom {
  position: relative;
  bottom: 15px;
  width: 20px;
  height: 20px;
  background: #ffffff;
}

.sidebar-division-wrap-content__list {
  width: 100px;
  display: inline-block;
}

.sidebar-division-wrap-content-list__item {
  margin-top: 7px;
  padding-left: 0; 
}

.sidebar-division-wrap-content-list-item__checkbox-custom,
.sidebar-division-wrap-content-list-item__label {
  position: relative;
  top: 7px;
  margin-top: 0px;
  display: inline-block;
  vertical-align: middle;
}

.sidebar-division-wrap-content-list-item__label {
  padding-left: 1px;
}

.sidebar-division-wrap-content-list-item__checkbox:checked + .sidebar-division-wrap-content-list-item__checkbox-custom::before {
  content: url(../../../img/catalogue-pics/checkbox-checked.png);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*Размер каблука*/
.sidebar-division__wrap_heel-height .sidebar-division-wrap__content {
  height: 160px;
  overflow: auto;
}

/*Повод*/
.sidebar-division__wrap_occasion .sidebar-division-wrap__content {
  width: 240px;
  height: 145px;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: auto;
}

.sidebar-division__wrap_occasion .sidebar-division-wrap-content__item {
  padding-top: 12px;
}

/*Сезон*/
.sidebar-division__wrap_season .sidebar-division-wrap__content {
  width: 240px;
  height: 74px;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: auto;
}

.sidebar-division__wrap_season .sidebar-division-wrap-content__item {
  padding-top: 12px;
}

/*Бренд*/
.sidebar-division-wrap__brand-content {  
  outline: none;
  height: 26px;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  background: url(../../../img/catalogue-pics/product-catalogue__sort-by-drop-down-chevron.png) no-repeat;
  background-color: #F4F4F4;
  width: 240px;
  background-position: 215px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  -ms-appearance: none;
  appearance: none;
  color: #333333;
}

/*Чекбокс "Со скидкой"*/
.sidebar-division-discount__checkbox {
  display: none;
}

.sidebar-division-discount__checkbox-custom {
  position: relative;
  display: inline-block;
  top: -2px;
  left: 10px;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  border: 1px solid #848484;
}

.sidebar-division-discount__checkbox:checked + .sidebar-division-discount__checkbox-custom::before {
  position: absolute;
  top: -1px;
  left: -1px;
  content: url(../../../img/catalogue-pics/checkbox-checked-19.png);
  display: block;
  width: 16px;
  height: 16px;
}

.sidebar-division-discount__label {
  display: inline-block;
  margin-left: 18px;
  margin-top: 40px;
  margin-bottom: 23px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/*Сброс*/
.sidebar-division__wrap_drop-down {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  padding-bottom: 5px;
  font-size: 18px;
  text-align: center;
}

.sidebar-division-wrap__drop-down-icon {
  position: relative;
  top: -3px;
  right: 1px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background: url(../../../img/catalogue-pics/product-catalogue-sprite-min.png) no-repeat;
  background-position: -60px -19px;
}

.sidebar-division-wrap__text {
  position: relative;
  top: 10px;
  right: 2px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: 700;
}


