/*Пагинация в каталоге*/
.product-catalogue__pagination {
  display: inline-block;
  margin: 20px 0 25px -80px;
  position: absolute;
  bottom: 0;
}

.page-nav-wrapper {
  display: flex;
  width: auto;
  margin: 0 auto;
  align-items: center;
}

.product-catalogue__pagination ul {			   
  display: flex;								
}

.product-catalogue__pagination ul li {
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: middle;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #000000;
}

.product-catalogue__pagination ul a {
  text-decoration: none;  
}

.product-catalogue__pagination ul li + li {
  margin-left: 2px;
}

.angle-back a,
.angle-forward a {
  position: relative;
  display: inline-block;
  top: 0;
  width: 20px;
  height: 20px;  
  font-family: 'Roboto', 'sans-serif';
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.angle-back a:hover,
.angle-forward a:hover {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}