.header-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 124px;
  background: url(../../../img/header-waves.png) bottom center repeat-x, linear-gradient(93.68deg, #EBE5E9 5.29%, #D1E3E5 95.42%);
}

.wrapper {
  height: 100%;
  width: 1205px;
  margin: 0 auto;
}

.h2 {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: #333333;
}


