.main-menu {
  min-height: 58px;
  height: 1px;
}

.main-menu__items {
  height: 100%;
  display: flex;
  padding: 0 24px;
  justify-content: space-around;
  align-items: center;
}

.main-menu__item {
  padding-bottom: 10px;
  list-style: none;
  text-align: center;
}

.main-menu__item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #A1B3BF;
  transition: color 300ms ease;
}

.main-menu__item a:hover {
  color: #333333;
}

.main-menu__item_active {
  background-image: linear-gradient(90deg, #FF65A5 0%, #FF8076 100%);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 4px;
}

.main-menu__item_active a {
  font-weight: bold;
  color: #333333;
}